<%-include('./partials/header.ejs')-%>

<h1>Login</h1>

<form class="" action="/login" method="post">
  <input type="text" name="username" placeholder="username" value="">
  <input type="password" name="password" placeholder="password" value="">
  <button type="submit" name="button">Log In</button>
</form>

<%-include('./partials/footer.ejs')-%>
